*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.row{
    display: flex;
    flex-wrap: wrap;
}



.container{
    background-color: #128C7E;
    padding: 30px;
    
}

.container img{
    margin-left: 250px;
}

.header_nav{
    margin-top: 13px;
    margin-left: 50px;
}

.header_nav a{
    text-decoration: none;
    color:#f9f9f9;
    margin: 0px 17px;
    font-size: 17px;
}
    
.title_one{
    margin: 10% 27%;
    padding: 15px;
    width: 30%;
}

.title_one h2{
    font-size: 34px;
    font-weight: 300;
}

.title_one p{
    font-weight: 250px;
    width: 100%;
    margin-top: 25px;
    font-size: 18px;
}

.title_one a{
    text-decoration: none;
    color: rgb(134, 133, 133);
    line-height: 1.4;
}
.title_two{
    width: 30%;
    margin: auto;
}

 .hen{
     color: rgb(129, 127, 127);
 }
.title_two img{
    width: 304px;
    display:inline-block;
}

