*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}





.row{
    display: flex;
    flex-wrap: wrap;
}



.pageStats{
    background-color: #128C7E;
    padding: 30px;
    
}

.header_nav{
    margin-top: 13px;
    margin-left: 50px;
}

.header_nav a{
    text-decoration: none;
    color:#f9f9f9;
    margin: 0px 17px;
}
    