body{
    font-family: 'Roboto', sans-serif;
}



.container{
    width: 1400x;
}

.row{
    display: flex;
    flex-wrap: wrap;
}



.pageStats{
    padding: 10px 0px;
    background-color: #128C7E;
    padding: 30px 300px;
    
}

.header_nav{
    margin-top: 13px;
    margin-left: 50px;
}

.header_nav a{
    text-decoration: none;
    color:#f9f9f9;
    margin: 0px 17px;
}
    